/*--------- Code ---------
--------------------------------- */

.code {
  color: #005b74;
  font-size: 6rem;
  text-align: center;
  background: transparent;
  border: none;
  display: block;
  margin: 0 auto 50px auto;
  width: 100%;
  padding: 0.125em 1em;
  display: none;
   -webkit-font-smoothing: antialiased;
  @mixin at1000 {
    font-size: 4rem;
  }
    @mixin at600 {
    padding: 0.125em;
  }
}

.code::selection {
	background: #d5d5d5;
	color: #005b74;
}
.code:focus {
	outline: none;
	}

  .code--has-code {
    display: block;
  }
