.footer {
  position: absolute;
  bottom: 0;
  right: 50px;
  text-align: right;
  padding: 2em 0 ;
  color: #a9a9a9;
  font-size: 0.75rem;
  a {
    color: #a9a9a9;
    transition: all 0.5s;
    &:hover {
      color: white;
  }
}
}