/*--------- Input ---------
--------------------------------- */

.input {
	background: $paleGrey;
	border: 0;
	color: $navy;
	font-size: 6rem;
	text-align: center;
	line-height: 1.5;
	border-bottom: solid 1px black;
	max-width: 100%;
	  @mixin at1000 {
  	font-size: 4rem;
  }
}
.input:focus {
	outline: 0;
	border-bottom: solid 3px black;
}

.input::selection {
	background: none;
}

.input--is-input {
	width: 480px;
}
.input--was-copied {
	width: 340px;
}
