  .menu-overlay {
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 100;
  }

  .menu {
    width: 500px;
     opacity: 0;
     margin-top: 15px;
  }

  .secondary-menu__header {
    opacity: 0.5;
  }

  .vert-line {
    position: relative;
    width: 1px;
    background: #898989;
    display: inline-block;
    opacity: 0.7;
  }

  .line-up {
    margin-top: auto;
    bottom: 0;
  }

  .line-down {
    top: 0px;
    margin-bottom: auto;
  }

.menu__item {
  border-bottom: solid 1px #201F1A;
  padding: 1em 2em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__item__num {
  opacity: 0.3;
}

.menu__header {
  transition: background-color 0.2s;
  margin-bottom: 100px;
  font-size: 1.25rem;
  font-family: 'roboto condensed';
  text-transform: uppercase;
  padding:  1em 1.5em;
}

.relational-menu {
  margin: auto;
  margin-left: 20px;
  width: 100%;
  min-height: 500px;
}

.top-level-menu {
  width: 100%;
  margin: auto;
  margin-left: 20px;
}

.menu-inner a:hover {
  transition: all 0.5s;
}

.menu-inner:hover > a {
  color: #a9a9a9;
  transition: all 0.5s;
}

.menu-inner:hover > a:hover {
  color: white;
  transition: all 0.5s;
  opacity: 1;
}

  .menu-btn {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    z-index: 180;
  }



.menu-bar-one {
  display: block;
  position: relative;
  bottom: 5px;
  height: 2px;
  background-color: #fff;
  right: 0px;
}

.menu-bar-two {
  display: block;
  height: 2px;
  background-color: #fff;
  width: 30px;
  left: 0px;
}

.menu-bar-three {
  display: block;
  position: relative;
  top: 5px;
  height: 2px;
  background-color: #fff;
  right: 0px;
  text-align: right;
}

.menu-transition {
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: #d4ff0c;
  z-index: 300;
}

.menu-inner {
  max-height: 50vh;
  overflow-y: scroll;
}

  .grid-btn {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    z-index: 180;
    color: #fff;
    font-family: 'roboto mono';
  }

.grid-overlay {
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 0;
    background: black;
    color: #fff;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 300;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}

.grid-overlay a {
  width: 25vw;
  height: 50vh;
  transition: all 0.7s;
  display: flex;
  flex: 0 0 25vw;
  justify-content: center;
  align-items: center;
}

.grid-overlay a:hover {
  background: #c9ff0c;
  color: #000;
  cursor: pointer;
}

.grid__item {
  list-style: none;
}

